---
title: 404
---
<!DOCTYPE HTML>
<html>
<head>
	{% include head.html %}
</head>
<body>
	<div id="main">
		<div class="container">
			{% include navbar.html %}
			<center>
				<h1><a href="/"><img src="assets/img/logo.png" width="192" height="192" class="titleimg" alt="Tooger"></a></h1>
				<h1 style="color:#FFA500;">{{ page.title }}</h1>
				<div class="jumbotron transparent-bg">
					<h3>Page not found.</h3>
					<p><a class="btn" href="/">&larr; Home</a></p>
				</div>
			</center>
		</div>
		{% include footer.html %}
	</div>
</body>
</html>
