---
---
<!DOCTYPE HTML>
<html>
<head>
	<title>tooger</title>

	{% include header.html %}
</head>
<body>
	<div class="container">
		<center>
			<h1><a href="/"><img src="assets/img/logo.png" width="192" height="192" class="titleimg" alt="Tooger"></a></h1>
			<div class="jumbotron transparent-bg">
				<h2>hello!</h2>
				<p>welcome to tooger.xyz!</p>
				<h2>toogers</h2>
				<div class="cards" id="cards">
					{% include members.html %}
				</div>
			</div>
		</center>
		<p style="float:right;color:#FFF;">this website is on <a href="https://github.com/toogers/toogers.github.io"><img src="assets/img/github.svg" width="32" height="32" alt="GitHub"></a></p>
	</div>
</body>
</html>
