<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nvbr">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="https://tooger.xyz/"><img src="assets/img/logo.png" width="32" height="32" class="titleimg" alt="Tooger"></a>
		</div>
		<div class="collapse navbar-collapse" id="nvbr">
			<ul class="nav navbar-nav">
				<li ><a href="/">Home</a></li>
				<li ><a href="/members">Members</a></li>
			</ul>
		</div>
	</div>
</nav>
