html,
body {
	background-color: #282829;
	margin:0;
	padding:0;
	height:100%;
}

.container {
	min-height: 100%;
	position: relative;
}

.header {
	padding: 10px;
}

.body {
	padding: 10px;
	padding-bottom: 60px;
}

.footer {
	text-align: left;
	color: #EEE;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
}

.flip {
	transform: scaleX(-1);
	-webkit-transform: scaleX(-1);

	-webkit-animation-name: flip;
	-webkit-animation-duration: 4s;
	animation-name: flip;
	animation-duration: 4s;
}
