/*
tooger.css

written by hpfxd 24 MAY 2018
LAST MODIFIED 24 MAY 2018
*/

body {
	background-image: url("../img/bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

hr {
	border-color: #282828;
}

.text {
	color: #EEE;
}

.transparent-bg {
	background-color: rgb(255, 255, 255, 0.8);
}

.titleimg {
	-webkit-filter: invert(1);
	filter: invert(1);
}

.titleimg:hover {
	-webkit-filter: invert(0.5);
	filter: invert(0.5);
}

/* cards */
.cards {
	display: block;
}

.card {
	display: inline-block;
	padding: 10px;
	margin: 5px;
	border-radius: 5px;
	background-color: rgb(0, 0, 0, 0.5);
	min-height: 200px;
	min-width: 100px;
}

.card-title {
	color: #FFA500;
	font-size: 25px !important;
}

.card-text {
	color: #FFF;
	font-size: 20px !important;
}

.card-img {
	border-radius: 50%;
	width: 64px;
	height: 64px;
}

/* social icons */
.card a .social-discord {
	width: 32px;
	height: 32px;
	background-image: url("../img/discord.svg");
}

.card a .social-twitter {
	width: 32px;
	height: 32px;
	background-image: url("../img/twitter.svg");
}

.card a .social-twitch {
	width: 32px;
	height: 32px;
	background-image: url("../img/twitch.svg");
}

.card a .social-youtube {
	width: 32px;
	height: 32px;
	background-image: url("../img/youtube.svg");
}

.card a .social-steam {
	width: 32px;
	height: 32px;
	background-image: url("../img/steam.svg");
}

.card a .social-reddit {
	width: 32px;
	height: 32px;
	background-image: url("../img/reddit.svg");
}

.card a .social-website {
	width: 32px;
	height: 32px;
	background-image: url("../img/website.svg");
}

.card a .social-github {
	width: 32px;
	height: 32px;
	background-image: url("../img/github.svg");
}

.card a .social-question {
	width: 32px;
	height: 32px;
	background-image: url("../img/question.svg");
}

.card a {
	display:inline-block;
}
